extends layout

block content
  .managerList.userList
    .row.wrapper.border-bottom.white-bg.page-heading
      .col-lg-10
        h2 基础管理
        ol.breadcrumb
          li
            span 基础管理
          li.active
            span 密码修改

    .wrapper.wrapper-content.animated.fadeInRight
      .ibox-content.m-b-sm.border-bottom
        .row
          .col-lg-12
            .ibox
              .ibox-content
                //-密码验证表单开始
                form#editPwdDom.container
                  .row
                    .form-group
                      label.col-sm-2.control-label 请输入原密码:
                      .col-sm-10
                        input.form-control.passwordNow#passwordNow(type="password", name="passwordNow")
                    .form-group
                      label.col-sm-2.control-label 请输入新密码:
                      .col-sm-10
                        input.form-control.passwordNew#passwordNew(type="password", name="passwordNew")
                    .form-group
                      label.col-sm-2.control-label 请再次输入新密码:
                      .col-sm-10
                        input.form-control.passwordCheck#passwordCheck(type="password", name="passwordCheck")
                  .form-group
                    input.btn.btn-primary.col-sm-offset-2#editPwdBtn(type="button", value="确定")
  script(src='/js/passwordUpdate.js')
